html, body {
  margin: 1em;
  font-family: impact;
  text-align: center;
  color: #88889c;
  background-color: #f0f0f8;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.header-logo {
  height: 170px;
  max-width: 100%;
}

/* if the screen resolution is less than 600px, the logo shrinks  */
@media screen and (max-width: 600px) {
  .header-logo {
    height: 110px;
    max-width: 100%;
  }
}

.header-title {
  font-size: 65px;
  text-shadow: 2px 2px 10px #ccc;
}

/* if the screen resolution is less than 600px, the header title shrinks  */
@media screen and (max-width: 600px) {
  .header-title {
    font-size: 42px;
    text-shadow: 2px 2px 10px #ccc;
  }
}

.divider {
  border: 0;
  border-bottom: 4px dashed #adb3ba;
}

.blurb {
  margin: 0.5em;
  padding-top: 15px;
  text-shadow: 2px 2px 8px #ccc;
  font-size: 30px;
  color: #4d4d59;
}

/* if the screen resolution is less than 600px, the blurb shrinks  */
@media screen and (max-width: 600px) {
  .blurb {
    font-size: 22px;
    text-shadow: 2px 2px 10px #ccc;
  }
}

.container-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.item-0 {
  height: 500px;
  width: 1040px;
  margin: 0.5em;
  border-radius: 15px;
  max-width: 100%;
}

/* if the screen resolution is less than 1129px, the first container (large image) disappears  */
@media screen and (max-width: 1129px) {
  .container-1 {
    display: none;
  }
}

.container-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.project {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 15px;
  margin: 0.5em;
  padding: 10px;
}

/* if the screen resolution is less than 450px, the borders and background coloring around the projects disappears  */
@media screen and (max-width: 450px) {
  .project {
    border: 0px;
    background-color: #f0f0f8;
  }
}

.item-info {
  font-size: 15px;
  text-shadow: 1px 1px 5px #ccc;
  color: #4d4d59;
}

.item-1 {
  height: 300px;
  width: 300px;
  margin: 0.5em;
  max-width: 100%;
}

.item-2 {
  height: 300px;
  width: 300px;
  margin: 0.5em;
  max-width: 100%;
}

.item-3 {
  height: 300px;
  width: 300px;
  margin: 0.5em;
  max-width: 100%;
}

.footer {
  font-family: helvetica;
  font-size: 15px;
  color: #adb3ba;
  margin-left: auto;
  margin-right: auto;
  width: 65em;
  padding-top: 2em;
  max-width: 100%;
}
